<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<div class="wide">
    <div class="col-lg-12 logo spacer">John T. Maley</div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-default menu" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">John T. Maley</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#about">About</a>
                    <!-- Links to a specific part of same page-->
                </li>
                <li>
                    <a href="#blog">Blog</a>
                </li>
                <li>
                    <a href="#book">Books</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- START THE FEATURETTES -->

<div class="container">
    
    <hr class="featurette-divider dividingline">
    <h3 class="text-center">About</h3>
    <div class="row featurette ">
        <div class="col-md-12"  >
            <h2 class="featurette-heading">John T. Maley</h2>
            <p class="lead">John Maley has been a soldier, a peace officer, a corrections officer, a probation officer, and he has worked as a private investigator in Colorado, Hawaii, and Arizona. John has four college degrees. He has a wife and two children. His oldest son is a doctor and his youngest son is a First Lieutenant in the United States Army. John's wife, Teresa, is a Lieutenant Colonel in the Army Reserve and a Nurse Manager at the Southern Arizona VA Health Care System. John has taught high school and college, teaching history and criminal justice. He currently lives in Tucson, Arizona.</p>
        </div>
     
    </div>
   
</div>

<div class="container">
   
    <hr class="featurette-divider dividingline">
     <h3 class="text-center">Books</h3>
    <div class="row featurette">
        <div class="col-md-7"  ">
            <h2 class="featurette-heading">A Little Murder in Tucson</h2>
            <p class="lead">Jake Hunter has a case of a lifetime. Two beautiful women missing. The arms of one are found. The investigation takes many twists and turns leading to a startling conclusion. An exciting story from an author who has lived related events.</p>
        </div>
        <div class="col-md-5">
            <a href="https://www.amazon.com/Little-Murder-Tucson-John-Maley/dp/1491849657" > <img data-holder-rendered="true" src="/images/title.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500" alt="500x500"></a>
        </div>
    </div>
    <hr class="featurette-divider dividingline">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5"  ">
            <h2 class="featurette-heading">Missing Forever in Tucson</h2>
            <p class="lead">Nothing is worse than failure. Jake Hunter private investigator was hired to find a missing girl twenty years ago. Jake's failure to find the girl has haunted him ever since.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <a href="https://www.amazon.com/Missing-Forever-Tucson-John-Maley-ebook/dp/B00YYG8U0I/"> <img data-holder-rendered="true" src="/images/missingforeverintucson.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"></a>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer>
    <p class="center"><a href="#">Back to top</a></p>
</footer>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>
</body>

</html>
